*, *::after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}

.image {
  grid-area: image;
  width: 100%;
  height: 100%;
}
#img {
  width: 100%;
  max-height: 100%;
  margin-top: 2rem;
}
#cv {
  width: 100%;
  
}
.slider-container {
  grid-area: slider;
  background-color: blue;
  margin-top: 2rem;
  padding: 2rem;
}
.slider {
  width: 100%;
  cursor: pointer;
}
.sidebar {
  grid-area: sidebar;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.sidebar-item {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid purple;
  background-color: lightgray;
}
.sidebar-item.active {
  background-color: pink;
}